node_modules/
bower_components/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

pids
*.pid
*.seed
*.pid.lock

dist/
build/
.tmp/
.temp/
out/
.cache/
.npm/
.eslintcache
.prettier-cache
coverage/
.nyc_output/

*.tsbuildinfo

.env
.env.*
!.env.example

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

junit.xml

*.orig
*.rej

windsurf*
.windsurf*
windsurf.config.js
netlify.toml

~$*
*.tmp
.vercel
.env*.local
release/
v-prerender/dist/
